<div class="navigation-container">
  {%- assign navigation_pages = site.pages
      | where: 'layout', 'page'
      | where: 'language', page.language
      | where: 'published', true
      | sort: 'order' %}
  
  <div class="nav-links">
    {%- for navigation_page in navigation_pages %}
      {%- if page.url == navigation_page.url %}
        <a class="page-link active nav-item" href="{{ site.baseurl }}{{ navigation_page.url }}">
          {{ navigation_page.title }}
        </a>
      {%- else %}
        <a class="page-link nav-item" href="{{ site.baseurl }}{{ navigation_page.url }}">
          {{ navigation_page.title }}
        </a>
      {%- endif %}
    {%- endfor %}
  </div>

  <div class="language-switcher">
    <span class="language-divider">|</span>
    {% include language-switch.html %}
  </div>
</div>


