---
layout: default
---
<div class="home">
  <section class="hero my-8 text-center">

    <div class="flex" style=" padding-top:3rem; padding-bottom:3rem; justify-content: center">
      <img 
        src="{{ site.baseurl }}/assets/img/logo.png"
      />
    </div>
    <!-- <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="dARK Logo" class="hero-logo"> -->
    <h1>
      {% if page.language == "es" %}
      {{ site.title_es | escape }}
      {% elsif page.language == "pt" %}
      {{ site.title_pt | escape }}
      {% else %}
      {{ site.title_en | escape }}
      {% endif %}
    </h1>
    <p class="lead">
      {% if page.language == "es" %}
      {{ site.description_es }}
      {% elsif page.language == "pt" %}
      {{ site.description_pt }}
      {% else %}
      {{ site.description_en }}
      {% endif %}
    </p>
  </section>

  <section class="content my-8">
    {{ content }}
  </section>
</div>
